*{
margin: 0;
padding: 0;
font-family: 'PT Sans', sans-serif;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
   

}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    
}

nav img{
    width: 150px;

}

h2 {
    color: #fff;
    font-size: 18px;
}

.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-links ul li a{
color: #fff;
text-decoration: none;
font-size: 18px;

}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #AAFF00;
    display: block;
    margin: auto;
    transition: 0.5s;

}
.nav-links ul li:hover::after{
    width: 100%;
}

.text-box-container{
    height: auto;
    display: block;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
   
}
.text-box{
    text-align: center;
    height: 100vh;
    position: relative;

}
.wrapper{
position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.page-footer{
    width: 100%;
    text-align: center;
    padding: 70px 0;
    background-color: black;
    color: white;

}

.text-box h1{
    font-size: 30px;
}

.text-box p{
    font-size: 20px;
}
.best-btn{
display: inline;
text-decoration: none;
color: #fff;
border: 1px solid #fff;
padding: 12px 34px;
font-size: 13px;
background: transparent;
position: relative;
cursor: pointer;
}
.best-btn:hover{
    border: 1px solid #AAFF00;
    background: #AAFF00;
    transition: 1s;


}

.login-box{
text-align: center;
}

.login-form input{
width: 20%;
padding: 10px;
margin: 15px 0;
box-sizing: border-box;
border: none;
outline: none;
background: #AAFF00;

}

.login-box a{
    color: #fff;
    text-decoration: none;

}

p1{
    color: white;
}

.login-form label{
    color: white;

}